---
interface Props {
  id?: string;
  title: string;
  className?: string;
}

const { id, title, className = "" } = Astro.props;
---

<div
  id={id}
  class={`flex items-center justify-center px-4 py-3 w-26.25 h-12 bg-tag-bg rounded-xl mx-auto mb-15 ${className}`}
>
  <h2 class="font-medium">{title}</h2>
</div>