---
import BaseAstro from "../components/BaseAstro.astro"
import Header from "../components/header/Header.astro";

const {title, description} = Astro.props;
---

<html lang="en">
	<head>
        <BaseAstro title={title} description={description} />
	</head>
	<body>
		<Header />
		<main class="w-full px-2 mx-auto">
			<slot />
		</main>
	</body>
</html>